appdirs
bcrypt
cffi
django>=2.2.13
django-audit-log
django-auditlog
django-crispy-forms
django-jsonfield
django-sslserver
packaging
pycparser
pyparsing
pytz
six
django-sendgrid-v5
django-environ
psycopg2-binary
